.cover__title{
    margin: 245px auto 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    border: 1px red solid;
    z-index: 1000;
    font-family: 'Inter-Black', Arial, sans-serif;
}